:root {
	--body-color: #000;
	--text-color: #fff;
	--link-color:#fff;
	--link-color-hover:#BDAE82;
	--title-chapter:#BDAE82;

	--botton-color-solid:#BDAE82;
	--botton-color-solid-active:#fff;
	--button-color: transparent;
	--button-text:#BDAE82;
	--button-text-active:#000;
	--button-color-active:#BDAE82;
	
	--price-text:#fff;
	--price-value:#BDAE82;
	--input-border:#BDAE82;
	--input-backgroud-color:transparent;
	--placeholder-border-color:#BDAE82;
	--placeholder-backgroud-color:transparent;

	--hamburger-line-color:#fff;
	--hamburger-background-color:#000;
  }
